* {
    // box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    position: relative;
    font-size: 1rem;
}
main {
    min-height: 80vh;
    // background: #F5E2E2;
}

.rating span {
    margin: 0.15rem;
}
.card{
    border: none;
}
.card-body {
    // background: #F5E2E2;
    font-family: Arial, Helvetica, sans-serif;
    .card-text{
        margin: .5rem 0;
    }
}
